
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #333333;
}

.bg-primary {
  background-color: #08A8CC!important;
}
.color-primary {
  color: #08A8CC!important;
}

.bg-green {
  background-color: #3CAE4B!important;
}

a {
  color: #08A8CC;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

.alert-danger {
  font-size: 14px;
  line-height: 24px;
}

.bullet-divider {
  font-family: "Poppins", sans-serif;
  color: white;
  font-style: normal;
  width: 30px;
  height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-style: normal;
  font-weight: normal;
}

h6 {
  font-size: 16px;
  line-height: 32px;
}
h5 {
  font-size: 24px;
  line-height: 40px;
}
h4 {
  font-size: 32px;
  line-height: 48px;
}
h3 {
  font-size: 40px;
  line-height: 56px;
}
h2 {
  font-size: 56px;
  line-height: 72px;
}
h1 {
  font-size: 64px;
  line-height: 80px;
}

p {
  font-size: 16px;
  line-height: 32px;
  color: #666666;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #666666;
  font-size: 12px;
  line-height: 24px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}

.card-floating-login {
  width: 60%;
  position: absolute;
  bottom: 5rem;
  left: 0;
  border-radius:var(--bs-border-radius-pill);
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #08A8CC;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #748ec6;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.btn-primary {
  background: #08A8CC;
  color: #fff;
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}

.btn-primary.btn-green {
  background: #3CAE4B!important;
}

.btn-primary.btn-medium {
  padding: 16px 24px!important;
  font-size: 14px!important;
  line-height: 24px!important;
}

.btn-primary.btn-large {
  padding: 20px 32px!important;
  font-size: 14px!important;
  line-height: 24px!important;
}

.btn-secondary {
  background: #ffffff;
  color: #333333;
  border: 1px solid #B3B3B3;
  padding: 8px 16px;
  border-radius: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}

.btn-primary:hover {
  background: #0691B0;
  color: #fff;
}

.btn-secondary:hover {
  background: #F0F0F0;
  color: #333333;
  border: 1px solid #B3B3B3;
}

.input-text {
  font-size: 14px;
  line-height: 24px;
  padding: 16px;
  gap: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}

.form-label {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.form-check-label {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B3B3B3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B3B3B3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #B3B3B3;
}

.btn-amount {
  background: #fff;
  border: 1px solid #cdcdcd;
  color: #585a61;
  transition: 0.4s;
  border-radius: 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  padding: 8px 0;
}

.btn-amount:hover {
  border: 1px solid #08A8CC;
  background: #ffffff;
}

.btn-amount.btn-green:hover {
  border: 1px solid #3CAE4B;
  background: #ffffff;
}

.btn-amount:before {
  content: "";
  display: inline-block;
  height: 3rem;
  vertical-align: middle;
}

.btn-check:checked+.btn {
  background: #08A8CC;
  border: 1px solid #08A8CC;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  padding: 8px 0;
}

.btn-check.btn-green:checked+.btn {
  background-color: #3CAE4B!important;
}

.shadow-primary {
  box-shadow: 0px 24px 120px rgba(8, 168, 204, 0.15);
}

.bg-light-blue {
  background: #F8FBFC;
}

.border-blue {
  border: 1px solid #08A8CC;
}

.sidebar {
  height: 100vh;
  /*width: 240px;*/
  margin: 0;
  background: #ffffff;
}
#main {
  padding-left: 21rem!important;
}

#main.toggled {
  padding-left: 14rem!important;
  padding-right: 8rem!important;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner.h1 {
  color: #ffffff;
}

.banner.p {
  color: #cccccc;
}

.nav-pills .nav-link.active {
  background-color: #F5F7F8;
  color: #212529;
  font-weight: bold;
}

.nav-pills .nav-link.active i {
  color: #ffffff;
  background-color: #08A8CC!important;
}

.card-border-green {
  border-left: 3px solid #3CAE4B;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.card-border-orange {
  border-left: 3px solid #F27C3E;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.card-border-yellow {
  border-left: 3px solid #F3CB66;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.card-border-blue {
  border-left: 3px solid #08A8CC;
  border-right: none;
  border-bottom: none;
  border-top: none;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.95);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #08A8CC;
  text-decoration: none;
}

#header .logo img {
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #47536e;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #08A8CC;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #08A8CC;
  color: #fff;
  padding: 12px 25px;
  margin-left: 1rem;
  color: #fff;
  line-height: 1;
  border-radius: 50px;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: #0689a7;
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #08A8CC;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #47536e;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #666666;
}


@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  #nav-menu {
    display: none!important;
  }

  .sidebar {
    position: fixed;
  }

  #main,
  #main.toggled {
    padding-left: 7rem!important;
    padding-right: 1rem!important;
  }
  #profileCard {
    height: auto!important;
  }

}

.navbar-mobile {
  /*position: fixed;*/
  /*overflow: hidden;*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /*background: rgba(51, 60, 79, 0.9);*/
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  /*position: absolute;*/
  /*top: 15px;*/
  /*right: 15px;*/
}

.navbar-mobile #nav-menu {
  display: block!important;
  position: absolute;
  top: 55px;
  right: 15px;
  /*bottom: 15px;*/
  /*left: 15px;*/
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.4);
}

.navbar-mobile #nav-menu a,
.navbar-mobile #nav-menu a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #47536e;
  justify-content: start;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #08A8CC;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  /*margin: 15px;*/
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #08A8CC;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100vh;
  overflow: auto;
  width: 20rem;
  background: #ffffff;
  z-index: 999;
}

.sidebar-header.toggled {
  justify-content: center;
}
.sidebar-toggle.toggled {
  float: none!important;
}

.sidebar.toggled{
  width: min-content;
}

.nav-label.toggled,
.sidebar-logo.toggled {
  display: none!important;
}

.navbar-top {
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  position: fixed;
  padding: 1.5rem 1rem;
}
.back-drop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
}

/*.mobile-only {*/
/*  display: none!important;*/
/*}*/

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  overflow: visible;
  padding: 75px 0 0 0;
}

#hero p {
  color: #666666!important;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 56px;
  line-height: 72px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #CCCCCC;
  margin-bottom: 50px;
  font-size: 20px;
}

#hero .download-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  padding: 8px 24px 10px 46px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: #47536e;
  position: relative;
}

#hero .download-btn:hover {
  background: #08A8CC;
}

#hero .download-btn i {
  font-size: 20px;
  position: absolute;
  left: 18px;
  top: 8.5px;
}

#hero .download-btn+.download-btn {
  margin-left: 20px;
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }

  #hero .download-btn+.download-btn {
    margin: 0 10px;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 60%;
  }
  #hero h1 {
    font-size: 40px;
    line-height: 56px;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 32px;
    line-height: 48px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero h1 {
    font-size: 32px;
    line-height: 48px;
  }
  #hero .hero-img img {
    width: 80%;
  }
  .thankyou-title {
    font-size: 24px;
    line-height: 40px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0 0 0;
  overflow: hidden;
}

.section-bg {
  background-color: #F8FBFC;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #08A8CC;
  font-family: "Poppins", sans-serif;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #f6f8fb;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# App Features
--------------------------------------------------------------*/
.features .content {
  padding: 30px 0;
}

.features .content .icon-box {
  margin-top: 25px;
}

.features .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #08A8CC;
}

.features .content .icon-box p {
  font-size: 15px;
  color: #979aa1;
  margin-left: 60px;
}

.feature-intro {
  width: 50%;
  text-align: start;
}

@media (max-width: 991px) {
  .features .image {
    text-align: center;
  }

  .features .image img {
    max-width: 80%;
  }
  .feature-intro {
    width: 100%;
    text-align: center;
  }
  .features {
    margin-top: 40rem;
  }
}

@media (max-width: 667px) {
  .features .image img {
    max-width: 100%;
  }
  .feature-intro {
    width: 100%;
    text-align: center;
  }
  .features {
    margin-top: 45rem;
  }
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details .content+.content {
  margin-top: 100px;
}

.details .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #47536e;
}

.details .content ul {
  list-style: none;
  padding: 0;
}

.details .content ul li {
  padding-bottom: 10px;
}

.details .content ul i {
  font-size: 24px;
  padding-right: 2px;
  color: #08A8CC;
  line-height: 0;
}

.details .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  overflow: hidden;
  background: #F8FBFC;
}

.gallery .swiper-slide {
  transition: 0.3s;
  width: 300px;
}

.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #08A8CC;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #08A8CC;
}

.gallery .swiper-slide-active {
  /*text-align: center;*/
}

@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }

  .gallery .swiper-slide-active {
    /*border: 6px solid #08A8CC;*/
    box-shadow: 0px 24px 120px rgba(8, 168, 204, 0.15);
    /*padding: 4px;*/
    background: #fff;
    z-index: -1;
    /*transform: scale(1.2);*/
    /*margin: 50px;*/
    border-radius: 25px;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow-y: visible;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  /*margin: 0 15px;*/
  min-height: 300px;
  max-height: 600px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
}

.testimonials .swiper-slide-active {
  z-index: -1;
  box-shadow: 0px 24px 120px rgba(8, 168, 204, 0.15) !important;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 6px solid #fff;
  /*position: absolute;*/
  /*left: -45px;*/
}

.testimonials .testimonial-item .campaign-img {
  width: 100%;
  /*border: 6px solid #fff;*/
  max-height: 250px;
  object-fit: cover;
  border-radius: 1rem;
  /*position: absolute;*/
  /*left: -45px;*/
}

.campaign-img {
  width: 100%;
  /*border: 6px solid #fff;*/
  max-height: 100px;
  object-fit: cover;
  border-radius: 1rem;
  /*position: absolute;*/
  /*left: -45px;*/
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #e8ecf5;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #08A8CC;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #08A8CC;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .row {
  padding-top: 40px;
}

.pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

.pricing h3 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 28px;
}

.pricing h4 {
  font-size: 46px;
  color: #08A8CC;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 18px;
  display: block;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding-bottom: 12px;
}

.pricing ul i {
  color: #08A8CC;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul .na i {
  color: #ccc;
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .get-started-btn {
  background: #47536e;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
}

.pricing .get-started-btn:hover {
  background: #08A8CC;
}

.pricing .featured {
  z-index: 10;
  margin: -30px -5px 0 -5px;
}

.pricing .featured .get-started-btn {
  background: #08A8CC;
}

.pricing .featured .get-started-btn:hover {
  background: #748ec6;
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
  .thankyou-title {
    font-size: 24px;
    line-height: 40px;
  }
  #header .logo {
    max-width: 30%;
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .accordion-list {
  padding: 0 100px;
}

.faq .accordion-list ul {
  padding: 0;
  list-style: none;
}

.faq .accordion-list li+li {
  margin-top: 15px;
}

.faq .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  border: 1px solid #CCCCCC;
}

.faq .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.faq .accordion-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #b1c0df;
}

.faq .accordion-list .icon-show,
.faq .accordion-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .accordion-list .icon-show {
  display: none;
}

.faq .accordion-list a.collapsed {
  color: #343a40;
}

.faq .accordion-list a.collapsed:hover {
  color: #08A8CC;
}

.faq .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .accordion-list {
    padding: 0;
  }
}

.accordion-item {
  background: white!important;
  border: none;
}

.accordion-button {
  font-size: 14px;
  line-height: 24px;
  color: #333333!important;
  border-bottom: 1px solid #666666!important;
  border-radius: 0px!important;
}

.accordion-button:not(.collapsed) {
  background: white!important;
  border-bottom: 2px solid #666666!important;
  box-shadow: none;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 20px 40px;
  background: #f1f3f6;
  color: #47536e;
  text-align: center;
  border: 1px solid #fff;
}

.contact .info i {
  font-size: 48px;
  color: #9fb2d8;
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form label {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  color: #8a8c95;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #08A8CC;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #fff;
  border: 2px solid #08A8CC;
  padding: 10px 24px;
  color: #08A8CC;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 5px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #08A8CC;
  color: #fff;
}

@media (max-width: 1024px) {
  .contact .php-email-form {
    padding: 30px 15px 15px 15px;
  }
}

@media (max-width: 768px) {
  .contact .php-email-form {
    padding: 15px 0 0 0;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #F8FBFC;
  padding: 0 0 30px 0;
  color: #47536e;
  font-size: 14px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #eff2f8;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #47536e;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #08A8CC;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #415f9d;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #F8FBFC;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #47536e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #8a8c95;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #47536e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #08A8CC;
  font-size: 20px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #8a8c95;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #08A8CC;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #666666;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #08A8CC;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  color: #47536e;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #47536e;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
  #link-profile,
  #link-masuk,
  #language {
    display: none!important;
  }
  #main,
  #main.toggled {
    padding-top: 90px!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }
  .sidebar {
    left: 0;
  }
  .sidebar.toggled {
    left: -6rem;
  }

  #profileCard {
    height: auto!important;
  }
}
@media only screen and (max-width: 300px) {

  .features {
    margin-top: 42rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner {
    max-height: 300px;
  }
  .features {
    margin-top: 42rem;
  }
  #link-profile,
  #link-masuk,
  #language {
    display: none!important;
  }

  .navbar-mobile #nav-menu {
    display: block!important;
    position: fixed;
    top: 75px;
    right: 0;
    /*bottom: 15px;*/
    left: 0;
    padding: 10px;
    border-radius: 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    box-shadow: none;
  }

  .btn-secondary,
  .btn-primary {
    width: 100%;
  }

  /*.mobile-only {*/
  /*  display: block!important;*/
  /*}*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .banner {
    max-height: 350px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .banner {
    max-height: 500px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .banner {
    height: 500px;
  }
}
